<header class="header-6">
  <div class="branding">
    <img class="arup_logo" src="assets/arup.png" alt="arup_logo">
  </div>
  <div class="header-nav">

      <!-- <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a> -->
  </div>
  <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
          <!-- <clr-icon shape="printer"></clr-icon> -->
      </a>
  </div>
</header>
